$font-stack: 'Josefin Sans', sans-serif;
$code-bg: #F7F7F7;
$border-color: #1D1A31;

html, body, .container, div {
  height: 100%;
}

body {
  background-color: #EFEFEF;
  font-family: $font-stack;
}

.marked, .html {
  border: 2px solid $border-color;
  width: 49%;
  height: 80%;
  background-color: $code-bg;
  display: inline-block;
  padding: 10px;
  /* rounded corners */
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.html {
  float: right;
}

textarea {
  resize: none;
  outline: none;
}

.footer {
  position: absolute;
  bottom: 0;
  height: 20px;
  width: 100%;
  margin-top: 20px;
}
